.label {
  font-weight: bold;
}
.textarea {
  padding: 15px;
}

.invalid {
  border: 1px solid red;
}

.errorText {
  color: red;
  margin-top: 4px;
}

.requiredLabel {
  font-size: 14px;
  font-weight: normal;
}

.asterisk {
  color: red;
  margin-right: 4px;
}
.textarea > p {
  padding-bottom: 10px;
  font-size: 16px;
}
.boxbutton {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 5px; /* Add space between the buttons */
}
.greenButton{
  background-color: var(--color_green);
}
.yellowButton{
  background-color: var( --color_orange) !important;
}