.tables {
  border: 1px solid #ececec;
  border-radius: 16px;
  overflow-x: auto; /* Kích hoạt cuộn ngang cho toàn bộ container */
  width: 100%;
}

.tables button {
  width: 20px;
  height: 20px;
}

.tables * {
  font-size: 14px;
}

.pagination {
  border-top: 1px solid #ececec;
}

.tableHeader {
  background-color: #278a7c;
  font-weight: bold;
  font-size: 18px !important;
  color: #fff;
} /* Table.module.css */
.cellStyle {
  white-space: inherit !important;
  overflow: visible !important;
  text-overflow: clip !important;
  max-height: none !important;
  max-width: 150px !important;
  padding: 8px !important;
}
